:root {
  --blanco: #eaeaea;
  --negro: #222222;
}

* {
  font-family: 'Poppins', sans-serif;
}

html body {
  background-color: var(--blanco);
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* banner tests */
#banner {
  width: 100%;
  height: 370px;
  overflow: hidden;
}
#banner .b-wrapper {
  position: relative;
  height: 100%;
}
#banner img {
  position: absolute;
  top: 0;
  z-index: -1;
}
#banner .barras-efecto {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-around;
}
#banner .barra {
  width: 1%;
  background: var(--blanco);
  height: 100%;  
}

/* home */


#Home #botonera .navbar-nav {
  flex-direction: column;
  width: 300px;
  text-align: center;
  margin: 0 auto;
}

#Home #botonera .navbar-nav .nav-link {
  background-color: var(--negro);
  color: var(--blanco);
  margin-bottom: 14px;
  transition: all ease 0.5s;
  border: 2px solid var(--negro);
  width: auto;
}
#Home #botonera .navbar-nav .nav-link:hover {
  background-color: var(--blanco);
  border: 2px solid var(--negro);
  color: var(--negro);
}
#botonera .navbar-nav .nav-link.active {
  background-color: var(--blanco);
  border: 2px solid var(--negro);
  color: var(--negro);
  position: relative;
}

#botonera .navbar-nav .nav-link.active::after {
    content: '';
    clip-path: polygon(0 0, 0% 100%, 50% 50%);
    position: absolute;
    background: var(--negro);
    width: 100%;
    z-index: 9999;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0.05;
}
#botonera .navbar-nav .nav-link.active::before {
  content: '';
  clip-path: polygon(100% 0, 100% 100%, 50% 50%);
  position: absolute;
  background: var(--negro);
  width: 100%;
  z-index: 9999;
  height: 100%;
  right: 0;
  top: 0;
  opacity: 0.05;
}
#Home .titulo h1 {
  font-size: 6.5rem;
  font-weight: 600;
  margin: 0;
}
#Home .titulo h2 {
  font-size: 70px;
  font-weight: 100;
  margin: -22px 0 0 0;
}
#Home .titulo h3 {
  font-size: 32px;
  font-weight: 100;
  margin: 3px 0 0 0;
}
/* botonera */

#botonera .navbar-nav {
  width: 100%;
  justify-content: space-between;
}
#botonera .navbar-nav .nav-link {
  width: 25%;
  margin: 0;
  text-align: center;
  background-color: var(--negro);
  color: var(--blanco);
  margin-bottom: 14px;
  transition: all ease 0.5s;
  border: 2px solid var(--negro);
}
#botonera .navbar-nav .nav-link:hover {
  background-color: var(--blanco);
  border: 2px solid var(--negro);
  color: var(--negro);
}
#mywork .navsbtns .btns-works{
  display: flex;
  width: 100%;
  justify-content: center;
}
#mywork .navsbtns .btns-works li  {
  list-style: none;
  padding: 0 1em;
}
#mywork .navsbtns .btns-works li:nth-child(2) {
  border: 1px solid var(--negro);
  border-width: 0 1px;
}
#mywork .navsbtns .btns-works li button {
  color:var(--negro);
  text-decoration: none;
  transition: 0.5s all ease;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16"><path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/></svg>');
  background-repeat: no-repeat;
  background-position: center 32px;
  padding-bottom: 10px;
  border: 0;
  background-color: unset;
}
#mywork .navsbtns .btns-works li button:hover {
  background-position: center 18px;
}
.card-works .btn-crd {
  border:none;
  background-color: unset;
}
.card-works .btn-crd h4 {
  display: flex;
  flex-direction: column;
}
.card-works .btn-crd h4 span {
    text-transform: uppercase;
    font-weight: 100;
    padding: 5px 0;
    border-bottom: 1px solid var(--negro);
    margin: 1px 0 5px;
}
.card-works .btn-crd h4 small {
  font-size: 15px;
    font-weight: 600;
    text-align: justify;
    padding: 0 0.5em;
}

/* work texts */

#worktexts {

}
#worktexts .text {
  position: relative
}
#worktexts .text .btn-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
    display: flex;
    background-position: 80px center;
    align-items: center;
    font-size: 1.3em;
    color: var(--negro);
    opacity: 1;
    text-transform: uppercase;
    padding: 5px;
    border: solid 2px transparent;
}
#worktexts .text .btn-close:hover {
  border-color: var(--negro);
  background-color: var(--blanco);
}

/* contact */
#contact .formulario h2 {
  margin: 0.4em 0 1em;
}
#contact .formulario textarea,
#contact .formulario input {
  width: 100%;
  padding: 10px;
  background: var(--blanco);
  border: 1px solid var(--negro);
  margin: -1px 0;
  transition: all ease 0.5s;
}
#contact .formulario textarea:focus,
#contact .formulario input:focus {
  outline: none;
  background: #ffff;
  color: var(--negro);
}
#contact .formulario button {
  background-color: var(--negro);
    color: var(--blanco);
    border-radius: 0;
    width: 100%;
    margin-top: -6px;
    border: 1px solid var(--negro);
    transition: all ease 0.5s;
}
#contact .formulario button:hover {
  opacity:0.5
}
#contact .grid  {
  align-content: center;
  display: flex;
}
#contact .grid .cont-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
#contact .grid .cont-items .columna {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}
#contact .grid .cont-items .columna.col1 {
    flex: 0.1;
    align-items: center;
    justify-content: center;
}
#contact .grid .cont-items .columna.col2 {
  align-items: baseline;
  justify-content: center;
  padding: 0 0 0 1em;
}
#contact .grid .cont-items .columna div {
  
}